main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content:center;
    margin: 20px 0px;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #1C1917;
    border-radius: 20px;
    padding: 20px 10px;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.contenedor-peticiones{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
h2{
    color: white;
}

h3{
    color: white;
}

button{
    background-color: #1C1917;
    border: 1px solid #FFFF00;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
}

button:hover{
    cursor: pointer;
    transform: scale(0.95);
    transition: transform .1s;
    background-color: #FFFF00;
    color: black;
}

button:active{
    transform: scale(0.90);
    background-color: #FFFF00;
    color: black;
}

input{
    background-color: #1C1917;
    border: 1px solid #FFFF00;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    outline: none;
}

#boton-ver-solicitudes{
    font-size: 20px;
}

.contenedor-amigo, .solicitud{
    display: flex;
    gap: 10px;
    border: 1px solid #FFFF00;
    border-radius: 10px;
    padding: 0px 10px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    
}

.contenedor-amigo p, .solicitud p{
    font-size: 18px;
    width: 80px;
}

.contenedor-amigo img, .solicitud img{
    width: 80px;
}

.solicitudes, .amistades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
}

.boton-aceptar{
    border: 1px solid #18E767;
}

.boton-aceptar:hover{
    background-color: #18E767;
}

.boton-rechazar, .boton-eliminar{
    border: 1px solid #FF2E51;
}

.boton-rechazar:hover, .boton-eliminar:hover{
    background-color: #FF2E51;
}

.contenedor-solicitudes, .contenedor-agregar{
    display: flex;
    flex-direction: column;
    gap: 5px;
}